<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密碼重置連結已發送</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Django Auth Example</a></h1>
            <h3>密碼重置連結已發送</h3>
            <p>
                如果您輸入的郵件地址所對應的帳戶存在，設置密碼的提示已經發送郵件給您，您將很快收到。
            </p>
            <p>
                如果您沒有收到郵件，請確保您所輸入的地址是正確的，並檢查您的垃圾郵件夾。
            </p>
        </div>
    </div>
</div>
</body>
</html>